<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    <div class="col">
        <h3>Personajes</h3>
        <hr>
        <ul>
            <li>Krilin - 700</li>
            <li>Goku - 15,000</li>
            <li>Vegeta - 8,500</li>
        </ul>
    </div>
    <div class="col">
        <h3>Agregar </h3>
        <hr>
<!-- para que no se restablezca la pagina -->
        <form (ngSubmit)="agregar()">
<!-- en value las llaves indican que hay un valor en nuestro componente que deseamos usar que 
debe apuntar a nuestra propiedad accediendo en este caso nuevo.nombre es como acceder a un arreglo 
Cuando usamos [(ngModel)]="binding", debemos colocar el atributo name='' [value]= 'nuevo.nombre' 
hay una forma mejor para hacerlo -->

            <input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="nuevo.nombre">
            <input type="number" placeholder="Poder" name="number" [(ngModel)]="nuevo.poder">   
            <button type="submit">Agregar</button>
        </form>
    </div>
</div>