<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    <div class="col">
    <app-personajes [personajes]="personajes"></app-personajes>
    </div>
    <div class="col">
        <h3>Agregar </h3>
        <hr>
<!-- para que no se restablezca la pagina -->
        <form (ngSubmit)="agregar()">
<!-- en value las llaves indican que hay un valor en nuestro componente que deseamos usar que 
debe apuntar a nuestra propiedad accediendo en este caso nuevo.nombre es como acceder a un arreglo 
Cuando usamos [(ngModel)]="binding", debemos colocar el atributo name='' [value]= 'nuevo.nombre' 
hay una forma mejor para hacerlo [()]"Queremos escuchar como emitir el evento"-->
            <input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="nuevo.nombre"/>
            <input type="number" placeholder="Poder" name="poder" [(ngModel)]="nuevo.poder"/>   
            <button type="submit">Agregar</button>
        </form>
    </div>
</div>